
Thumbs.db


.history/
**/.vscode/*
!**/.vscode/settings.json
!**/.vscode/tasks.json
!**/.vscode/launch.json
!**/.vscode/extensions.json

**/.vs/
*.user
*.userosscache
*.suo
*.sln.docstates
*.csproj.user
*.vbproj.user

**/.idea/

.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.env


**/node_modules

**/npm-debug.log
**/yarn-error.log
/libpeerconnection.log
testem.log

**/dist
**/tmp
**/out-tsc
**/bazel-out
**/.sass-cache/
**/coverage


**/[Bb]in/
**/[Oo]bj/

**/bin/
**/obj/
**/.vs/*
**/TestResults/

**/packages/
*.nupkg
**/packages/*
!**/packages/.gitignore

**/App_Data/


*.log

/connect.lock
__screenshots__/
/typings
